* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    background-image: url("../img/RHCP.jpg");
    background-size: 100vw 100vh;
    font-family: 'Turret Road', cursive;
    backdrop-filter: blur(5px);
    font-size: 14px;
    color: white;
  }
  @media (max-width: 320px) {
    body {
      font-size: 12px;
    }
  }
  @media (min-width: 700px) {
      body {
        font-size: 16px;
      }
    }
  @media (min-width: 1000px) {
    body {
      font-size: 20px;
    }
  }
  header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu {
    background-color: white;
    font-weight: bold;
    position: fixed;
    top: 0;
    width: 100vw;
  }
  .menu a {
    display: block;
    padding: 10px;
    font-size: 20px;
  }
  a{
   color: red;
   text-decoration: none;
    }
  a:hover{
    background: silver;
    text-decoration: underline;
  }
  .menu li {
    list-style: none;
  }
  .menu ul {
    display: flex;
    justify-content: space-around;
  }
  .site-title {
    color: white;
    text-align: center;
    font-family: 'Geostar Fill', cursive;
    font-size: 3em;
  }
  .site-subtitle {
    color: white;
    text-align: center;
    font-family: 'Iceberg', cursive;
    font-size: 2em;
  }
  @media (min-width: 768px) {
    .vida .grid {
      grid-template-columns: 500px;
    }
  }
  @media (min-width: 1024px) {
  .img-portfolio {
    width: 300px;
    height: 250px;
    object-fit: scale-down;
  } 
  }
  @media (min-width: 1440px) {
    .img-portfolio {
      width: 500px;
      height: 350px;
      object-fit: scale-down;
  }
  }
  section {
    height: 100vh;
    width: 100vw;
  }
  .vida h2 {
    font-family: 'Audiowide', cursive;
    padding: 1.5em;
    color: red;
    font-size: 25px;
  }
  .vida .grid {
    display: grid;
    gap: 1.5em;
    grid-template-columns: 500px 500px;
    align-content: center;
    justify-content: center;
    text-align: center;
    padding-left: 2em;
  }
  figcaption {
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
  }